@import '../styles.scss';

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 8px 0 8px 0;
  background-color: $color-dark-gray;
}

  .header__section {
    display: flex;
    align-items: center;
  }
    .header__item {
      padding: 4px;
      font-size: 12px;

      & + & {
        margin-left: 8px;
      }

      &.is-site-header-item-selected {
        color: $color-white;
        background-color: $color-gray;
        border-radius: 4px;
      }
    }

    .header-logo {
      font-size: 28px;
      max-width: 100%;
      height: auto;
    }

    .header-img {
      width: 48px;
      height: 48px;
    }

    .header-button {
      cursor: pointer;
      color: $color-white;
    }

footer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: $color-dark-gray;
  margin-top: auto;
}
  .footer__section {
    display: flex;
    align-items: center;
  }
  .footer__item {
        padding: 4px;
        font-size: 12px;
        a {
          color: $color-light-gray;
          text-decoration: none;
        }
      }
