<header>
  <section class="header__section">
    <div class="header__item">
      <div class="fa fa-inbox"><img class="header-img" src="assets/images/morning-code.png"></div>
    </div>
    <div class="header__item header-logo"><a href="/">morningcode.io</a></div>
    <div class="header__item header-button is-site-header-item-selected">Blog</div>
    <div class="header__item header-button">Photo</div>
  </section>
  <!-- This section gets pushed to the right side-->
  <div class="header__section">
    <div class="header__item header-button">Settings</div>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
  <section class="footer__section">
    <div class="footer__item"><a href="/">morningcode.io</a></div>
  </section>
</footer>
