@import '../../styles.scss';

div.container {
  padding: 4px 128px 4px 128px;

  /*
  > h1 {
    border-bottom: solid 2px #fec243;
  }
   */
}

div.container__inner {
  background-color: $color-gray;
  border-radius: 8px;
}

div.container__blog {
  background-color: $color-gray;
  padding: 24px 48px 24px 48px;
  margin-bottom: 32px;
  border-radius: 8px;
}
