<!-- for debugging -->
<!--
<h1 id="aws-cliのインストール"><a href="#aws-cliのインストール" id="aws-cliのインストール">AWS CLIのインストール</a></h1>
<pre><code class="prettyprint">$ pip3 --version
pip 19.3.1 from /Users/xxx/.anyenv/envs/pyenv/versions/3.8.0/lib/python3.8/site-packages/pip (python 3.8)

$ pip3 install awscli --upgrade --user

# PATHが通っていない場合、.zshrcに追記
$ tail -1 ~/.zshrc
export PATH=~/.local/bin:$PATH

$ source ~/.zshrc

$ aws --version
aws-cli/1.16.266 Python/3.8.0 Darwin/19.0.0 botocore/1.13.2
</code></pre>
-->
<div class="container">
  <h1>{{ response['title'] }}</h1>
  <div class="container__inner">
    <div class="container__blog">
      <div [innerHTML]="html"></div>
    </div>
  </div>
</div>
